@import 'colors';

.gb-header {
  background-color: #f5f5f5;
  padding: 20px 0;
  box-shadow: 0 3px 5px 2px #e9e9e9;
}

.gb-navbar {
  display: flex;
}

.navbar-nav {
  display: flex;
  align-items: flex-end;
}

.bg-white-1 {
  background-color: #f4f4f4;
}

.divider {
  margin: 0 15px;
  > span {
    color: #e9e9e9;
    font-size: 30px;
  }
}

.dashborad-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: 'center';
}

.search-form {
  padding: 0 20px;
}

.d-flex {
  display: flex;
}

.align-items-end {
  align-items: 'flex-end'
}