@import 'colors';
@import 'buttons';
@import 'variables';
@import 'header';
@import 'footer';

.wrap {
  margin: 0 auto;
  padding: 0;
}

.main-content {
  height: 100vh;
}

.bg-white-1 {
  background-color: #f4f4f4;
}

.divider {
  margin: 0 15px;
  > span {
    color: #e9e9e9;
    font-size: 30px;
  }
}

.dashborad-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: 'center';
}

.search-form {
  padding: 0 20px;
}

.status-active {
  font-weight: 600;
  color: $green;
}

.pagination {
  button {
    padding: 15px 20px;
  }
}

.selectedRow {
  background: 'white';
  box-shadow: inset 0 -3px 0 0 $secondary-color;
  > td {
    opacity: .2
  }
  > td.selectedCell {
    opacity: 1 !important;
  }
}

.filter-menu {
  background: $white-darken-1;
  width: 400px;
  color: $grey;

  &-header {
    padding: 30px 20px;
    background: white;
    display: flex;
    align-items: center;
  }

  &-title {
    font-weight: bold;
    color: inherit
  }

  &-icon {
    color: inherit;
    margin-right: 15px;
  }

  &-description {
    padding: 20px;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    position: relative;
    &:after {
      position: absolute;
      width: 20px;
      height: 3px;
      background-color: $white-darken-2;
      content: '';
      left: 20px;

    }
  }

  .close-filter {
    padding: 10px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05),0 -2px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

}